#latest {
 padding: 50px 0;
}

#latest .header {
 padding: 50px 0;
}

#latest .header:after {
 content: "";
 display: table;
 clear: both;
}

#latest .header h1 {
 color: #6DD5FA;
 font-size: 4.2rem;
 max-width: 400px;
 width: 100%;
 float: left;
 display: inline-block;
}

#latest .header .directions {
 float: right;
 display: inline-block;
 position: relative;
 top: 35px;
}

#latest .header .directions .move-left {
 float: left;
 padding: 20px 70px;
 font-size: 3rem;
 background: #2980B9;
 color: #fff;
 cursor: pointer;
 border: 1px solid #2980B9;
 -webkit-border-top-left-radius: 4px;
 -webkit-border-bottom-left-radius: 4px;
 -moz-border-radius-topleft: 4px;
 -moz-border-radius-bottomleft: 4px;
 border-top-left-radius: 4px;
 border-bottom-left-radius: 4px;
}

#latest .header .directions .move-right {
 float: left;
 padding: 20px 70px;
 font-size: 3rem;
 background: #fff;
 color: #CECECE;
 cursor: pointer;
 border: 1px solid #CECECE;
 -webkit-border-top-right-radius: 4px;
 -webkit-border-bottom-right-radius: 4px;
 -moz-border-radius-topright: 4px;
 -moz-border-radius-bottomright: 4px;
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
}

#latest .body {
 padding: 100px 0;
}

#latest .body:after {
 content: "";
 display: table;
 clear: both;
}

#latest .body .column {
 width: 33.33%;
 float: left;
 padding: 0 15px;
 text-align: center;
}

#latest .body .column:nth-child(1) .bg-square {
 height: 300px;
 width: 300px;
 border-radius: 20px;
 margin: 0 auto;
 background-image: linear-gradient(to right bottom, #c85f00, #cd5600, #d14d00, #d64100, #db3204, #db3e02, #db4800, #db5100, #d56c00, #cb8400, #c09900, #b3ac00);
 position: relative;
}

#latest .body .column:nth-child(2) .bg-square {
 height: 300px;
 width: 300px;
 border-radius: 20px;
 margin: 0 auto;
 background-image: linear-gradient(to right bottom, #001f8e, #0059c7, #0082be, #00a47c, #00be08);
 position: relative;
}

#latest .body .column:nth-child(3) .bg-square {
 height: 300px;
 width: 300px;
 border-radius: 20px;
 margin: 0 auto;
 background-image: linear-gradient(to right bottom, #f66ebb, #dd5fb3, #c451aa, #aa44a1, #903898, #7c4bae, #5e5bc0, #296ace, #0093ed, #00bafa, #00def9, #00ffef);
 position: relative;
}

#latest .body .column:nth-child(1) .bg-square img {
 width: 70%;
 position: absolute;
 top: -25%;
 left: 8%;
}

#latest .body .column:nth-child(2) .bg-square img {
 width: 113%;
 position: absolute;
 top: -30%;
 left: -12%;
}

#latest .body .column:nth-child(3) .bg-square img {
 width: 66%;
 position: absolute;
 top: -27%;
 left: 15%;
}

#latest .body .column:nth-child(1) .bg-square .cart {
 background-image: linear-gradient(to right bottom, #c85f00, #cd5600, #d14d00, #d64100, #db3204, #db3e02, #db4800, #db5100, #d56c00, #cb8400, #c09900, #b3ac00);
 width: 94px;
 height: 94px;
 position: absolute;
 top: -47px;
 right: -47px;
 border: 10px solid #fff;
 border-radius: 50%;
 color: #fff;
 cursor: pointer;
}


#latest .body .column:nth-child(2) .bg-square .cart {
 background-image: linear-gradient(to right bottom, #001f8e, #0059c7, #0082be, #00a47c, #00be08);
 width: 94px;
 height: 94px;
 position: absolute;
 top: -47px;
 right: -47px;
 border: 10px solid #fff;
 border-radius: 50%;
 color: #fff;
 cursor: pointer;
}

#latest .body .column:nth-child(3) .bg-square .cart {
 background-image: linear-gradient(to right bottom, #f66ebb, #dd5fb3, #c451aa, #aa44a1, #903898, #7c4bae, #5e5bc0, #296ace, #0093ed, #00bafa, #00def9, #00ffef);
 width: 94px;
 height: 94px;
 position: absolute;
 top: -47px;
 right: -47px;
 border: 10px solid #fff;
 border-radius: 50%;
 color: #fff;
 cursor: pointer;
}

#latest .body .column .bg-square .cart .fas {
 font-size: 2rem;
 position: relative;
 top: 22px;
 left: -3px;
}

#latest .body .column .line {
 width: 20%;
 height: 2px;
 background: #2980B9;
 margin: 52px auto;
}

#latest .body .column .price {
 color: #FEA83B;
 font-weight: 700;
 font-size: 2.3rem;
}

#latest .footer {
 text-align: center;
 position: relative;
}

#latest .footer img {
 width: 7%;
 z-index: 1;
 position: absolute;
 top: -2%;
 left: 44%;
 filter: grayscale(100%) invert(100%);
 opacity: .1;
 transform: rotate(30deg);
}

#latest .footer .info-box {
 position: relative;
 z-index: 2;
 padding: 200px 0;
}

#latest .footer .info-box h2 {
 font-size: 4rem;
 color: #6DD5FA;
 font-weight: 700;
 text-transform: capitalize;
 margin-bottom: 60px;
}

#latest .footer .info-box form {
 display: inline-block;
 margin: 0 auto;
}

#latest .footer .info-box form:after {
 content: "";
 display: table;
 clear: both;
}

#latest .footer .info-box .input-area {
 background: #fff;
 border-radius: 50px;
 display: inline-block;
 padding: 10px;
 float: left;
}

#latest .footer .info-box .input-area .far {
 font-size: 2rem;
 position: relative;
 top: 6px;
 margin-left: 15px;
 color: #ABABAB;
}

#latest .footer .info-box .input-area .fas {
 font-size: 1.8rem;
 position: relative;
 top: 15px;
 margin-left: 15px;
 color: #ABABAB;
}

#latest .footer .info-box .input-area:nth-child(1) {
 height: 78px;
 margin-right: 50px;
}

#latest .footer .info-box .input-area input {
 background: #fff;
 padding: 10px;
 border: none;
 text-transform: capitalize;
 width: 230px;
 font-size: 1rem;
 opacity: .7;
}

#latest .footer .info-box .input-area:nth-child(1) input {
 position: relative;
 top: 10px;
}

#latest .footer .info-box .input-area button {
 background: #2980B9;
 padding: 20px 50px;
 color: #fff;
 font-size: 1rem;
 text-transform: uppercase;
 border-radius: 50px;
 border: none;
 font-weight: 400;
 cursor: pointer;
}

/* laptops */
@media only screen and (max-width: 1215px) {
 
}
/* tablets */
@media only screen and (max-width: 1023px) {
 #latest .header h1 {
  font-size: 3.5rem;
 }
 #latest .header .directions {
  top: 20px;
 }
 #latest .body .column {
  width: 50%;
  margin-bottom: 150px;
 } 
 #latest .footer img {
  width: 10%;
  top: -5%;
  left: 48%;
 }
 #top-jumbo .left-side .info-container .input-area .far {
  font-size: 2rem;
  position: relative;
  top: 14px;
  margin-left: 0;
  width: 15%;
  float: left;
  text-align: center;
 }
 #top-jumbo .left-side .info-container .input-area input[type="email"] {
  float: left;
  width: 50%;
  position: relative;
  top: 12px;
 }
 #top-jumbo .left-side .info-container .input-area button {
  background: #6066F2;
  padding: 20px 0;
  font-size: 1rem;
  width: 35%;
  float: left;
 }
 #latest .footer .info-box .input-area:nth-child(1) {
  width: 50%;
  margin: 0;
 }
 #latest .footer .info-box .input-area:nth-child(2) {
  width: 50%;
  margin: 0;
 }
 #latest .footer .info-box .input-area:nth-child(1) .fas {
  font-size: 1.8rem;
  position: relative;
  top: 15px;
  margin-left: 15px;
  color: #ABABAB;
  width: 10%;
 }
 #latest .footer .info-box .input-area:nth-child(1) input {
  background: #fff;
  padding: 10px;
  border: none;
  text-transform: capitalize;
  width: 230px;
  font-size: 1rem;
  opacity: .7;
  width: 84%;
 }
 #latest .footer .info-box .input-area:nth-child(2) .far {
  font-size: 2rem;
  position: relative;
  top: 6px;
  margin-left: 15px;
  color: #ABABAB;
  width: 10%;
 }
 #latest .footer .info-box .input-area:nth-child(2) input {
  background: #fff;
  padding: 10px;
  border: none;
  text-transform: capitalize;
  width: 230px;
  font-size: 1rem;
  opacity: .7;
  width: 42%;
 }
 #latest .footer .info-box .input-area:nth-child(2) button {
  background: #2980B9;
  padding: 20px 50px;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  font-weight: 400;
  cursor: pointer;
  width: 40%;
 }
}
/* mobile */
@media only screen and (max-width: 767px) {
 #latest .header {
  text-align: center;
 }
 #latest .header h1 {
  max-width: none;
  width: 100%;
  text-align: center;
  font-size: 3rem;
 }
 #latest .header .directions {
  float: none;
  position: static;
  top: 0;
  margin: 50px auto;
 }
 #latest .body .column {
  width: 100%;
  margin-bottom: 150px;
 }
 #top-jumbo .left-side .info-container .input-area {
  width: 100%;
 }
 #top-jumbo .left-side .info-container .input-area .far {
  font-size: 2rem;
  position: relative;
  top: 14px;
  margin-left: 0;
  width: 15%;
  float: left;
  text-align: center;
 }
 #top-jumbo .left-side .info-container .input-area input[type="email"] {
  float: left;
  width: 50%;
  position: relative;
  top: 12px;
 }
 #top-jumbo .left-side .info-container .input-area button {
  background: #6066F2;
  padding: 20px 0;
  font-size: 1rem;
  width: 35%;
  float: left;
 }
 #latest .footer img {
  width: 14%;
  top: 3%;
  left: 39%;
}
 #latest .footer .info-box .input-area:nth-child(1) {
  width: 100%;
  margin-bottom: 50px;
 }
 #latest .footer .info-box .input-area:nth-child(2) {
  width: 100%;
  margin: 0;
 }
 #latest .footer .info-box .input-area .fas {
  width: 10%;
 }
 #latest .footer .info-box .input-area:nth-child(1) input {
  width: 85%;
 }
 #latest .footer .info-box .input-area .far {
  top: 6px;
  margin-left: 16px;
  width: 10%;
 }
 #latest .footer .info-box .input-area input {
  width: 50%;
 } 
 #latest .footer .info-box .input-area button {
  width: 34%;
 }
}